body {
	text-align:center;
	font-family: Arial, Serif;
	overflow: hidden;
	overflow-y: auto;
	/*margin: 0;*/
    /*font-size: 14px;*/
  	/*font-family: "Helvetica Neue", Helvetica;*/
}

#chart {
  position: absolute;
  top: 100px;
  left: 10%;
} 

#chart2 {
  position: absolute;
  top: 880px;
  left: 10%;
} 

.tooltip {
  position: absolute;
  height: 30px;
  width: 50px;
  color: green;
  background-color: yellow;
  display: block;
}