body {
	text-align:center;
	font-family: Arial, Serif;
	overflow: hidden;
	/*margin: 0;*/
    /*font-size: 14px;*/
  	/*font-family: "Helvetica Neue", Helvetica;*/
}

#chart {
  position: absolute;
  top: 100px;
  left: 100px;
} 