body {
  text-align:center;
  font-family: Arial, Serif;
	overflow: hidden;
	overflow-y: auto;
	/*margin: 0;*/
    /*font-size: 14px;*/
  	/*font-family: "Helvetica Neue", Helvetica;*/
}

#chart {
  position: absolute;
  margin-top: 20px;
  left: 10%;
} 

#chart2 {
  position: absolute;
  margin-top: 760px;
  left: 10%;
} 

.tooltip {
  position: absolute;
  height: 30px;
  width: 50px;
  color: green;
  background-color: yellow;
  display: block;
}

.person {
  height: 1600px;
}

.after-one {
  margin-left: -11%;
}

.matrix-header {
  margin-left: 5%;
  margin-bottom: 20px;
}
.matrix-header-bottom {
  margin-bottom: 20px;
}
.footnotes{
  margin-top: 1500px;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 12px;
}
.footnotes-header{
  font-weight: 600;
  font-size: 16px;
}
.footnotes-bottom{
  text-align: left;
  margin-left: 28%;
}